<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cg.mokano.bzv.covid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".services.fbase.Offline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.ConditionActivity"></activity>
        <activity android:name=".views.EndQuizActivity" />
        <activity android:name=".views.QuizActivity" />
        <activity android:name=".views.DetailFakenewsActivity" />
        <activity android:name=".views.FakenewsActivity" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.CovidActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.StatistiqueActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ActualiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.DeclarationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ConsigneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.ConseilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.DetailActualiteActivity" />
        <activity android:name=".views.StartActivity" />
        <activity android:name=".views.ActivityDiagnostic" />
        <activity android:name=".views.FinAutodiagnosticActivity" />
    </application>

</manifest>